header {
  width: 100%;
  height: 800px;
  background: url('/src/img/header-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header .nav-fixed {
  top: 0;
  z-index: 99;
  position: fixed;
}
header nav#nav-header {
  width: 100%;
  height: 150px;
  background-color: #3f4a51;
}
header nav#nav-header .nav-header-center {
  width: 100%;
  height: 150px;
  background-color: #3f4a51;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav#nav-header .nav-header-center ul.logo {
  float: left;
}
header nav#nav-header .nav-header-center ul.logo li {
  list-style: none;
}
header nav#nav-header .nav-header-center ul.logo li a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
header nav#nav-header .nav-header-center ul.menu {
  float: right;
}
header nav#nav-header .nav-header-center ul.menu li {
  display: inline;
}
header nav#nav-header .nav-header-center ul.menu li .active {
  padding: 6px 14px;
  display: inline-block;
  color: #4bcaff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #4bcaff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header nav#nav-header .nav-header-center ul.menu li a {
  padding: 6px 14px;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header nav#nav-header .nav-header-center ul.menu li a:hover {
  color: #4bcaff;
  border: 2px solid #4bcaff;
}
header .header-footer {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 100%;
}
header .header-footer h1 {
  padding: 5px;
  background-color: #3f4a51;
  color: #ffffff;
  font-size: 42px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header .header-footer h2 {
  padding: 5px;
  background-color: #3f4a51;
  color: #ffffff;
  font-size: 42px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-title {
  margin-bottom: 36px;
}
.section-title h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.section-title .div {
  width: 46px;
  height: 2px;
  background-color: #ffffff;
}
section#services {
  width: 100%;
  padding: 60px 0 60px 0;
  background-color: #4bcaff;
}
section#services .service-area .coffee {
  background: url('/src/img/coffee.png');
}
section#services .service-area .instant {
  background: url('/src/img/instant.png');
}
section#services .service-area .serious {
  background: url('/src/img/serious.png');
}
section#services .service-area .frame {
  background: url('/src/img/frame.png');
}
section#services .service-area .service-ico {
  width: 48px;
  height: 48px;
}
section#services .service-area h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
section#services .service-area h2 {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#movie {
  width: 100%;
  padding: 60px 0 60px 0;
  background-color: #515f67;
}
section#movie .movie-left h2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#movie .movie-left button {
  border-radius: 0;
  border: 2px solid #353f46;
  padding: 10px 40px 10px 40px;
  background-color: transparent;
  color: #353f46;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
section#movie .movie-left button:hover {
  color: #353f46;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
section#whois {
  width: 100%;
  padding: 60px 0 60px 0;
  background: url('/src/img/whois-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#whois .whois-left h1 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#whois .whois-right h1 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#whois .whois-right button {
  border-radius: 0;
  padding: 16px 18px;
  margin-right: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}
section#whois .whois-right button:hover {
  border: 2px solid #4bcaff;
  background-color: #4bcaff;
}
