
@base-url: "";
@white: #FFFFFF;
@black: #000000;
@colorprimary: #4bcaff;
@colorsecondary: #3f4a51;
@movie: #515f67;
@footer: #353f47;
@color1: #353f46;
@color2: #515f67;

@twitter: #4bcaff;
@google: #e74c3c;
@dribbble: #ea4c89;
@coffee: #6f4e37;

@bold: 700;
@light: 300;
@family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

header {
    width: 100%;
    height: 800px;
    background: url('@{base-url}/src/img/header-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    #nav-header-area {
        width: 100%;
        height: 150px;
    }
    .nav-fixed {
        height: 75px !important;
        display: -moz-box !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        align-items:center !important;
        top: 0;
        z-index: 99;
        position: fixed;
    }
    nav#nav-header {
        width: 100%;
        height: 150px;
        background-color: @colorsecondary;
        .nav-header-center {
            width: 100%;
            height: 150px;
            display: -moz-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            ul.logo {
                li {
                    list-style: none;
                    a {
                        color: @white;
                        font-size: 30px;
                        font-weight: 700;
                        font-family: @family;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
            ul.menu {
                display: flex;
                flex-direction: row;
                li {
                    list-style: none;
                    margin-left: 30px;
                    .active {
                        padding: 6px 14px;
                        font-weight: 700;
                        font-family: @family;
                        color: @colorprimary;
                        text-decoration: none;
                        text-transform: uppercase;
                        border: 2px solid @colorprimary;
                    }
                    a {
                        padding: 6px 14px;
                        color: @white;
                        font-size: 14px;
                        font-weight: 700;
                        font-family: @family;
                        text-decoration: none;
                        text-transform: uppercase;
                        border: 2px solid transparent;    
                        &:hover {
                            color: @colorprimary;
                            border: 2px solid @colorprimary
                        }
                    }
                }
            }
        }
    }
    .header-footer {
        display: -moz-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 650px;
        width: 100%;
        h1 {
            padding: 5px;
            background-color: @colorsecondary;
            color: @white;
            font-size: 42px;
            font-weight: 100;
            text-align: center;
            font-family: @family;
            text-transform: uppercase;
        }
        h2 {
            padding: 5px;
            background-color: @colorsecondary;
            color: @white;
            font-size: 42px;
            font-weight: 100;
            text-align: center;
            font-family: @family;
            text-transform: uppercase;
        }
    }
}

.section-title {
    margin-bottom: 36px;
    color: @white;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    font-family: @family;
    text-transform: uppercase;
    .text-black {
        color: @colorsecondary;
    }
    .white-div {
        width: 46px;
        height: 2px;
        background-color: @white;
    }
    .black-div {
        width: 46px;
        height: 2px;
        background-color: @colorsecondary;
    }
}

section#services {
    width: 100%;
    padding: 80px 0 80px 0;
    background-color: @colorprimary;
    .service-area {
        .coffee {
            background: url('@{base-url}/src/img/coffee.png');
        }
        .instant {
            background: url('@{base-url}/src/img/instant.png');
        }
        .serious {
            background: url('@{base-url}/src/img/serious.png');
        }
        .frame {
            background: url('@{base-url}/src/img/frame.png');
        }
        .service-ico {
            width: 48px;
            height: 48px;
        }
        h1 {
            color: @white;
            font-size: 24px;
            font-weight: 600;
            font-family: @family;
            text-transform: uppercase;
        }
        h2 {
            color: @white;
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
            font-family: @family;
        }
    }
}

section#movie {
    width: 100%;
    padding: 80px 0 80px 0;
    background-color: @movie;
    .movie-left {
        h2 {
            color: @white;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            font-family: @family;
        }
        button {
            border-radius: 0;
            border: 2px solid @color1;
            padding: 10px 40px 10px 40px;
            background-color: transparent;
            color: @color1;
            font-weight: 700;
            font-family: @family;
            text-decoration: none;
            text-transform: uppercase;
            &:focus {
                box-shadow: inset 0 0 0 0;
            }
            &:hover {
                color: @color1;
                background-color: @white;
                border: 2px solid @white;
            }
        }
    }
}

section#whois {
    width: 100%;
    padding: 80px 0 80px 0;
    background: url('@{base-url}/src/img/whois-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .whois-left {
        h1 {
            color: @white;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            font-family: @family;
        }
    }
    .whois-right {
        h1 {
            color: @white;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            font-family: @family;
        }
        button {
            border-radius: 0;
            padding: 16px 18px;
            margin-right: 20px;
            border: 2px solid @white;
            background-color: transparent;
            -webkit-transition: 0.3s ease-in;
            -moz-transition: 0.3s ease-in;
            -o-transition: 0.3s ease-in;
            transition: 0.3s ease-in;
            color: @white;
            &:focus {
                box-shadow: inset 0 0 0 0;
            }
        }
        .twitter {
            &:hover {
                border: 2px solid @twitter;
                background-color: @twitter;
            }
        }
        .google {
            &:hover {
                border: 2px solid @google;
                background-color: @google;
            }
        }
        .dribbble {
            &:hover {
                border: 2px solid @dribbble;
                background-color: @dribbble;
            }
        }
        .coffee {
            &:hover {
                border: 2px solid @coffee;
                background-color: @coffee;
            }
        }
    }
}

section#portfolio {
    width: 100%;
    padding: 80px 0 80px 0;
    background-color: @white;
    .portfolio-bt {
        float: right;
        button {
            margin-left: 30px;
            background-color: transparent;
            border: 2px solid transparent;
            font-weight: 700;
            font-family: @family;
            text-decoration: none;
            color: @colorsecondary;
            text-transform: uppercase;
            &:hover {
                border-radius: 0;
                color: @colorsecondary;
                border: 2px solid @colorsecondary;
            }
            &:focus {
                border-radius: 0;
                color: @colorprimary;
                box-shadow: inset 0 0 0 0;
                border: 2px solid @colorprimary;
            }
        }
    }
    .port-image {
        width: 100%;
    }
    .col-md-3 {
        margin-bottom:20px;
    }
    .each-item {
        position:relative;
        overflow:hidden;
    }
    .each-item:hover .cap2, .each-item:hover .box-hover {
        left:0px;
    }
    .box-hover {
        top:0px;
        left: -100%;
        width:100%;
        height:100%;
        position:absolute;
        background:rgba(53, 63, 71, 0.9);
        transition: all .2s;
        .zoom {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -25px;
            margin-left: -18px;
            width: 36px;
            height: 50px;
            span {
                color: @white;
                font-size: 64px;
                line-height: 48px;
            }
        }
    }
}

section#feedback {
    width: 100%;
    padding: 80px 0 80px 0;
    background-color: @colorprimary;
    .feedback-twitter {
        float: right;
        border-radius: 0;
        padding: 4px 4px;
        background-color: transparent;
        color: @white;
    }
    blockquote{
        border-left:none;
    }
    .quote-box{
        overflow: hidden;
        margin-top: -50px;
        border-radius: 8px;
        padding-top: -100px;
        background-color: #3fb6e8;
        margin-top: 25px;
        color:white;
        width: 100%;
        box-shadow: 2px 2px 2px 2px #2f95c0;
        .quotation-mark{
            margin-top: -10px;
            font-weight: bold;
            font-size:100px;
            color:white;
            font-family: "Times New Roman", Georgia, Serif;
        }
        .quote-text{
            color: @white;
            font-size: 28px;
            margin-top: -65px;
            font-weight: 300;
            font-family: @family;
            strong {
                font-weight: 600;
            }
        }
        
        .quote-badge{
            background-color: rgba(0, 0, 0, 0.2);   
        }
    }
}

section#contact {
    width: 100%;
    padding: 80px 0 80px 0;
    background: url('@{base-url}/src/img/contact-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h1 {
        color: @white;
        font-size: 14px;
        font-weight: @bold;
        font-family: @family;
        text-transform: uppercase;
    }
    p {
        color: @white;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        font-family: @family;
    }
    .contact-input {
        color: @white;
        font-size: 18px;
        font-weight: @bold;
        font-family: @family;

        height: 60px;
        border-radius: 0;
        border: 2px solid @white;
        background-color: transparent;
        &:focus {
            color: @colorsecondary;
            background-color: @white;
            border: 2px solid @white;
        }
    }
    .message {
        max-width: 100%;
        min-height: 220px;
        max-height: 420px;
    }
    button {
        border-radius: 0;
        border: 2px solid @colorprimary;
        padding: 10px 0 10px 0;
        width: 100%;
        background-color: @colorprimary;
        color: @white;
        font-weight: 700;
        font-family: @family;
        text-decoration: none;
        text-transform: uppercase;
        &:focus {
            box-shadow: inset 0 0 0 0;
        }
        &:hover {
            color: @color1;
            background-color: @white;
            border: 2px solid @white;
        }
    }
}

footer {
    width: 100%;
    background-color: @footer;
    .container {
        padding: 80px 0 80px 0;
        .footer-center {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            color: @color2;
            font-size: 12px;
            font-family: @family;
            .footer_autor {
                a {
                    color: #2f95c0;
                    text-decoration: none;
                    &:hover {
                        color: @colorprimary;
                    }
                }
            }
            ul {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    margin-right: 30px;
                    a {
                        color: @color2;
                        font-weight: bold;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            color: @colorprimary;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}