header {
  width: 100%;
  height: 800px;
  background: url('/src/img/header-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header #nav-header-area {
  width: 100%;
  height: 150px;
}
header .nav-fixed {
  height: 75px !important;
  display: -moz-box !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  align-items: center !important;
  top: 0;
  z-index: 99;
  position: fixed;
}
header nav#nav-header {
  width: 100%;
  height: 150px;
  background-color: #3f4a51;
}
header nav#nav-header .nav-header-center {
  width: 100%;
  height: 150px;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header nav#nav-header .nav-header-center ul.logo li {
  list-style: none;
}
header nav#nav-header .nav-header-center ul.logo li a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
header nav#nav-header .nav-header-center ul.menu {
  display: flex;
  flex-direction: row;
}
header nav#nav-header .nav-header-center ul.menu li {
  list-style: none;
  margin-left: 30px;
}
header nav#nav-header .nav-header-center ul.menu li .active {
  padding: 6px 14px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4bcaff;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #4bcaff;
}
header nav#nav-header .nav-header-center ul.menu li a {
  padding: 6px 14px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid transparent;
}
header nav#nav-header .nav-header-center ul.menu li a:hover {
  color: #4bcaff;
  border: 2px solid #4bcaff;
}
header .header-footer {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  width: 100%;
}
header .header-footer h1 {
  padding: 5px;
  background-color: #3f4a51;
  color: #ffffff;
  font-size: 42px;
  font-weight: 100;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
header .header-footer h2 {
  padding: 5px;
  background-color: #3f4a51;
  color: #ffffff;
  font-size: 42px;
  font-weight: 100;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.section-title {
  margin-bottom: 36px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.section-title .text-black {
  color: #3f4a51;
}
.section-title .white-div {
  width: 46px;
  height: 2px;
  background-color: #ffffff;
}
.section-title .black-div {
  width: 46px;
  height: 2px;
  background-color: #3f4a51;
}
section#services {
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #4bcaff;
}
section#services .service-area .coffee {
  background: url('/src/img/coffee.png');
}
section#services .service-area .instant {
  background: url('/src/img/instant.png');
}
section#services .service-area .serious {
  background: url('/src/img/serious.png');
}
section#services .service-area .frame {
  background: url('/src/img/frame.png');
}
section#services .service-area .service-ico {
  width: 48px;
  height: 48px;
}
section#services .service-area h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
section#services .service-area h2 {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#movie {
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #515f67;
}
section#movie .movie-left h2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#movie .movie-left button {
  border-radius: 0;
  border: 2px solid #353f46;
  padding: 10px 40px 10px 40px;
  background-color: transparent;
  color: #353f46;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
section#movie .movie-left button:focus {
  box-shadow: inset 0 0 0 0;
}
section#movie .movie-left button:hover {
  color: #353f46;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
section#whois {
  width: 100%;
  padding: 80px 0 80px 0;
  background: url('/src/img/whois-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#whois .whois-left h1 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#whois .whois-right h1 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#whois .whois-right button {
  border-radius: 0;
  padding: 16px 18px;
  margin-right: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  color: #ffffff;
}
section#whois .whois-right button:focus {
  box-shadow: inset 0 0 0 0;
}
section#whois .whois-right .twitter:hover {
  border: 2px solid #4bcaff;
  background-color: #4bcaff;
}
section#whois .whois-right .google:hover {
  border: 2px solid #e74c3c;
  background-color: #e74c3c;
}
section#whois .whois-right .dribbble:hover {
  border: 2px solid #ea4c89;
  background-color: #ea4c89;
}
section#whois .whois-right .coffee:hover {
  border: 2px solid #6f4e37;
  background-color: #6f4e37;
}
section#portfolio {
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #ffffff;
}
section#portfolio .portfolio-bt {
  float: right;
}
section#portfolio .portfolio-bt button {
  margin-left: 30px;
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #3f4a51;
  text-transform: uppercase;
}
section#portfolio .portfolio-bt button:hover {
  border-radius: 0;
  color: #3f4a51;
  border: 2px solid #3f4a51;
}
section#portfolio .portfolio-bt button:focus {
  border-radius: 0;
  color: #4bcaff;
  box-shadow: inset 0 0 0 0;
  border: 2px solid #4bcaff;
}
section#portfolio .port-image {
  width: 100%;
}
section#portfolio .col-md-3 {
  margin-bottom: 20px;
}
section#portfolio .each-item {
  position: relative;
  overflow: hidden;
}
section#portfolio .each-item:hover .cap2,
section#portfolio .each-item:hover .box-hover {
  left: 0px;
}
section#portfolio .box-hover {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(53, 63, 71, 0.9);
  transition: all .2s;
}
section#portfolio .box-hover .zoom {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -18px;
  width: 36px;
  height: 50px;
}
section#portfolio .box-hover .zoom span {
  color: #ffffff;
  font-size: 64px;
  line-height: 48px;
}
section#twitter {
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #4bcaff;
}
section#twitter .feedback-twitter {
  float: right;
  border-radius: 0;
  padding: 4px 4px;
  background-color: transparent;
  color: #ffffff;
}
section#twitter blockquote {
  border-left: none;
}
section#twitter .quote-box {
  overflow: hidden;
  margin-top: -50px;
  border-radius: 8px;
  padding-top: -100px;
  background-color: #3fb6e8;
  margin-top: 25px;
  color: white;
  width: 100%;
  box-shadow: 2px 2px 2px 2px #2f95c0;
}
section#twitter .quote-box .quotation-mark {
  margin-top: -10px;
  font-weight: bold;
  font-size: 100px;
  color: white;
  font-family: "Times New Roman", Georgia, Serif;
}
section#twitter .quote-box .quote-text {
  color: #ffffff;
  font-size: 28px;
  margin-top: -65px;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#twitter .quote-box .quote-text strong {
  font-weight: 600;
}
section#twitter .quote-box .quote-badge {
  background-color: rgba(0, 0, 0, 0.2);
}
section#feedback {
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #ffffff;
}
section#feedback .feedback-twitter {
  float: right;
  border-radius: 0;
  padding: 4px 4px;
  background-color: transparent;
  color: #ffffff;
}
section#feedback blockquote {
  border-left: none;
}
section#feedback .quote-box {
  overflow: hidden;
  margin-top: -50px;
  border-radius: 8px;
  padding-top: -100px;
  background-color: #515f67;
  margin-top: 25px;
  color: white;
  width: 100%;
  box-shadow: 2px 2px 2px 2px #353f47;
}
section#feedback .quote-box .quotation-mark {
  margin-top: -10px;
  font-weight: bold;
  font-size: 100px;
  color: white;
  font-family: "Times New Roman", Georgia, Serif;
}
section#feedback .quote-box .quote-text {
  color: #ffffff;
  font-size: 28px;
  margin-top: -65px;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#feedback .quote-box .quote-text strong {
  font-weight: 600;
}
section#feedback .quote-box .quote-badge {
  background-color: rgba(0, 0, 0, 0.2);
}
section#contact {
  width: 100%;
  padding: 80px 0 80px 0;
  background: url('/src/img/contact-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#contact h1 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
section#contact p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section#contact .contact-input {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 60px;
  border-radius: 0;
  border: 2px solid #ffffff;
  background-color: transparent;
}
section#contact .contact-input:focus {
  color: #3f4a51;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
section#contact .message {
  max-width: 100%;
  min-height: 220px;
  max-height: 420px;
}
section#contact button {
  border-radius: 0;
  border: 2px solid #4bcaff;
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: #4bcaff;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
section#contact button:focus {
  box-shadow: inset 0 0 0 0;
}
section#contact button:hover {
  color: #353f46;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
footer {
  width: 100%;
  background-color: #353f47;
}
footer .container {
  padding: 80px 0 80px 0;
}
footer .container .footer-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #515f67;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .container .footer-center .footer_autor a {
  color: #2f95c0;
  text-decoration: none;
}
footer .container .footer-center .footer_autor a:hover {
  color: #4bcaff;
}
footer .container .footer-center ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
footer .container .footer-center ul li {
  list-style: none;
  margin-right: 30px;
}
footer .container .footer-center ul li a {
  color: #515f67;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
footer .container .footer-center ul li a:hover {
  color: #4bcaff;
  text-decoration: underline;
}
