<div class="container">
    <div class="section-title">
        <h1 class="white-h1">Contact</h1>
        <div class="white-div"></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            Formulário
        </div>
        <div class="col-lg-6">
            Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.
            <br>
            Linda Newman
            W325 State Road 123
            Mondovi, WI(Wisconsin) 98746-54321
            (715) 946 - 1234
        </div>
        <div class="col-lg-12">
            Formulário
        </div>
    </div>
</div>