<div class="container">
    <div class="section-title">
        Contact
        <div class="white-div"></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1>Full name</h1>
            <input type="text" class="form-control contact-input" placeholder="">
            <h1 class="margin-email">Email</h1>
            <input type="text" class="form-control contact-input" placeholder="">
        </div>
        <div class="col-lg-6">
            <p>Bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.</p>
            <p>Linda Newman<br>
                W325 State Road 123<br>
                Mondovi, WI(Wisconsin) 98746-54321<br>
                (715) 946 - 1234</p>
        </div>
        <div class="col-lg-12">
            <h1 class="margin-message">Message</h1>
            <textarea class="contact-input form-control message" rows="6"></textarea>
        </div>
        <div class="col-lg-4">
            <br>
            <button type="submit" class="btn btn-primary">Message</button>
        </div>
    </div>
</div>