<div class="container">
    <div class="section-title">
        <h1 class="white-h1">Contact</h1>
        <div class="white-div"></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1>Full name</h1>
            <input type="text" class="form-control contact-input" placeholder="">
            <h1>Email</h1>
            <input type="text" class="form-control contact-input" placeholder="">
        </div>
        <div class="col-lg-6">
            Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.
            <br>
            Linda Newman
            W325 State Road 123
            Mondovi, WI(Wisconsin) 98746-54321
            (715) 946 - 1234
        </div>
        <div class="col-lg-12">
            <h1>Message</h1>
            <textarea class="contact-input form-control message" rows="6"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>