<section id="feedback">
    <div class="container">
        <div class="section-title">
            <button onclick="location.href='#'" type="button" class="btn feedback-twitter"><i class="icon-twitter icon-2x"></i></button>
            <h1 class="white-h1">Twitter</h1>
            <div class="white-div"></div>
            
        </div>
        <blockquote class="quote-box">
            <p class="quotation-mark">
                “
            </p>
            <p class="quote-text">
                Unerdwear cookie liquorice. Cake donut cupcake lollipop soufflé candy. Chocolate oat cake <br><strong>@ cheesecake</strong> tootsie roll.
            </p>
            <br>
            <div class="blog-post-actions">
                <p class="blog-post-bottom pull-left">
                Abraham Lincoln
                </p>
                <p class="blog-post-bottom pull-right">
                <span class="badge quote-badge">896</span>  ❤
                </p>
            </div>
        </blockquote>
    </div>
</section>