<div class="nav-header">
    <div class="container">
        <nav>
            <ul class="logo">
                <li>
                    <a href="">Blueasy</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="menu">
                <li><a href="#" class="active">Home</li></a>
                <li><a href="#">Services</li></a>
                <li><a href="#">Features</li></a>
                <li><a href="#">Portfolio</li></a>
                <li><a href="#">Contact</li></a>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <div class="header-footer">
        <div class="header-text">
            <h1>“I’m looking for the unexpected.</h1>
            <h2>I’m looking for things I’ve never seen before.”</h2>
        </div>
    </div>
</div>