<section id="movie">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="movie-left">
                    <div class="section-title">
                        Just default Section
                        <div class="white-div"></div>
                    </div>
                    <h2>
                        <p>Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.</p>
                        <br>
                        <p>Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.</p>
                    </h2>
                    <br>
                    <button onclick="location.href='#'" type="button" class="btn">Visit me</button>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <iframe src="https://player.vimeo.com/video/190613094?byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>                       
            </div>
        </div>
    </div>
</section>