<section id="services">
    <div class="container">
        <div class="section-title">
            Services
            <div class="white-div"></div>
        </div>
        <div class="service-area">
            <div class="row">
                <div class="col-sm-3">
                    <div class="service-ico coffee"></div>
                    <h1>Coffe</h1>
                    <h2>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</h2>
                </div>
                <div class="col-sm-3">
                    <div class="service-ico instant"></div>
                    <h1>Instant</h1>
                    <h2>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</h2>
                </div>
                <div class="col-sm-3">
                    <div class="service-ico serious"></div>
                    <h1>Serious</h1>
                    <h2>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</h2>
                </div>
                <div class="col-sm-3">
                    <div class="service-ico frame"></div>
                    <h1>Frame</h1>
                    <h2>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</h2>
                </div>
            </div>
        </div>
    </div>  
</section>